/* ------------------------------ */

.container {
  width: 600px;
  height: 600px;
  background-color: #b4d7ff;
  border-radius: 4px;
  padding: 30px;
}

.frame {
  border: 1px solid var(--main-black-color);
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
